RaspberryPi/.flows.json.backup
[{"id":"f47935254127a54a","type":"tab","label":"Random Transactions","disabled":false,"info":"","env":[]},{"id":"7fcb240d5cc004c4","type":"tab","label":"Get Weather Data","disabled":false,"info":"","env":[]},{"id":"a81bd8bd5ce776f7","type":"tab","label":"Users Database","disabled":false,"info":" - Connects to the \"Smartby\" database.\n - Updates the users balances.","env":[]},{"id":"61b184a83284ce8f","type":"tab","label":"Transaksjonsnoder","disabled":false,"info":"","env":[]},{"id":"9846b071a0dab208","type":"tab","label":"Home","disabled":false,"info":"","env":[]},{"id":"1bda8656e745acaa","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"e08c6f507a63d10b","type":"subflow","name":"Subflow 2","info":"","in":[{"x":60,"y":80,"wires":[{"id":"d80eb05538294d62"}]}],"out":[{"x":960,"y":80,"wires":[{"id":"27253cf486fcc379","port":0}]}]},{"id":"e195c8ecfb917b42","type":"ui_group","name":"Vær","tab":"470fa2ede348ea12","order":1,"disp":true,"width":20,"collapse":false},{"id":"470fa2ede348ea12","type":"ui_tab","name":"Værdata","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bbce1efa032bc7ef","type":"MySQLdatabase","name":"Smartby","host":"127.0.0.1","port":"3306","db":"Smartby","tz":"","charset":"UTF8"},{"id":"215bbcbaaf213093","type":"ui_tab","name":"Behandle brukere","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dd5f091293590b45","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de7659f154fc9d55","type":"ui_group","name":"Legg til bruker","tab":"215bbcbaaf213093","order":2,"disp":true,"width":10,"collapse":false},{"id":"2fcfdd527e692735","type":"ui_group","name":"Hent brukerinfo","tab":"215bbcbaaf213093","order":2,"disp":true,"width":10,"collapse":false},{"id":"dce9e7a2.d20c78","type":"ui_group","name":"Brukere","tab":"5132060d.4cde48","order":1,"disp":true,"width":"7","collapse":false},{"id":"5132060d.4cde48","type":"ui_tab","name":"Hjem","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"63ea8af5534bc492","type":"ui_group","name":"Transaksjoner","tab":"215bbcbaaf213093","order":3,"disp":true,"width":"20","collapse":false},{"id":"f2f27e2828e1b7bd","type":"ui_group","name":"Forbruk","tab":"5132060d.4cde48","order":2,"disp":true,"width":"10","collapse":false},{"id":"d80eb05538294d62","type":"mysql","z":"e08c6f507a63d10b","mydb":"bbce1efa032bc7ef","name":"","x":200,"y":80,"wires":[["a93145d6fc5b63be"]]},{"id":"a93145d6fc5b63be","type":"function","z":"e08c6f507a63d10b","name":"Select random user","func":"num_users = msg.payload.length;\n\nif (num_users > 0){\n    rnd = Math.floor(Math.random()*num_users);\n    selected_user = msg.payload[rnd];\n    notification_str = msg.notification_str\n    fine = msg.fine;\n    fine_set = true;\n    notification = util.format(notification_str, selected_user.Name, fine);\n\n    msg = {\n    payload:{\n        username: selected_user.UserName,\n        fine_set: fine_set,\n        fine: fine,\n        notification: notification\n        }\n    };\n}\n        \nelse {\n    msg = {\n        payload:{\n            fine_set: false\n        }\n    };\n}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[["3a047d5e945cec1f"]]},{"id":"27253cf486fcc379","type":"change","z":"e08c6f507a63d10b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.notification","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[[]]},{"id":"b790dffee947cf3e","type":"function","z":"e08c6f507a63d10b","name":"Make transaction","func":"//Leser msg.payload.user, msg.payload.in og msg.payload.out\n//Legger inn en ny transaksjon basert på dette\nvar name = msg.payload.username;\nvar transaction = msg.payload.fine;\n\nvar query = \"INSERT INTO TRANSACTIONS (UserName, Transaction) VALUES('%s', %d);\"\n\nvar msg = {\n\"topic\": util.format(query, name, transaction)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":140,"wires":[["e2c472cc5f34c898"]]},{"id":"3a047d5e945cec1f","type":"switch","z":"e08c6f507a63d10b","name":"If fine","property":"payload.fine_set","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["27253cf486fcc379","b790dffee947cf3e"]]},{"id":"e2c472cc5f34c898","type":"mysql","z":"e08c6f507a63d10b","mydb":"bbce1efa032bc7ef","name":"","x":1000,"y":140,"wires":[[]]},{"id":"d51fc21dee614170","type":"inject","z":"f47935254127a54a","name":"Fartsbot","props":[{"p":"topic","vt":"str"},{"p":"notification_str","v":"%s har fått en fartsbot på %d kr","vt":"str"},{"p":"fine","v":"-2000","vt":"num"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"select* from users","x":620,"y":340,"wires":[["189dbeff32c0eac1"]]},{"id":"14cd4d5f17d5d297","type":"ui_toast","z":"f47935254127a54a","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Show message","x":1260,"y":360,"wires":[]},{"id":"2b911bbb73dff722","type":"inject","z":"f47935254127a54a","name":"Piggdekkavgift","props":[{"p":"topic","vt":"str"},{"p":"notification_str","v":"%s har glemt å betale piggdekkavgift og er trukket %d kr","vt":"str"},{"p":"fine","v":"-1000","vt":"num"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"select* from users","x":600,"y":380,"wires":[["189dbeff32c0eac1"]]},{"id":"7d87751ea5ab9db5","type":"inject","z":"f47935254127a54a","name":"Lotterigevinst","props":[{"p":"topic","vt":"str"},{"p":"notification_str","v":"%s vant %d kr i lotteriet. Gratulerer!","vt":"str"},{"p":"fine","v":"10000","vt":"num"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"select* from users","x":600,"y":420,"wires":[["189dbeff32c0eac1"]]},{"id":"189dbeff32c0eac1","type":"subflow:e08c6f507a63d10b","z":"f47935254127a54a","name":"Make transaction to random user","x":940,"y":360,"wires":[["14cd4d5f17d5d297"]]},{"id":"f81d0b489f699235","type":"http request","z":"7fcb240d5cc004c4","name":"Request weather data from Metrologisk Institutt","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":400,"y":400,"wires":[["1a094a64da5d77d8","143b3fdfd33b3349","8ca836126e1a10c6"]]},{"id":"ee8d51d442632e5c","type":"ui_form","z":"7fcb240d5cc004c4","name":"","label":"Lokasjon","group":"e195c8ecfb917b42","order":1,"width":20,"height":1,"options":[{"label":"Stedsnavn","value":"name","type":"text","required":false,"rows":null}],"formValue":{"name":""},"payload":"","submit":"Hent data","cancel":"Avbryt","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":280,"wires":[["d274f4bfcbf0fb68"]]},{"id":"f206fd4cceb685bb","type":"function","z":"7fcb240d5cc004c4","name":"Format HTTP request to Metrologisk Institutt","func":"var str = \"https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=%d&lon=%d&altitude=0\";\nstr = util.format(str, msg.payload.lat, msg.payload.lon);\nmsg.url = str;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":280,"wires":[["f81d0b489f699235"]]},{"id":"0d57342a0bff449c","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":2,"width":10,"height":7,"gtype":"gage","title":"Temperatur","label":"Celcius","format":"{{value}} °C","min":"-30","max":"30","colors":["#0056d6","#ffffff","#ff4013"],"seg1":"","seg2":"","x":1050,"y":400,"wires":[]},{"id":"ee436dd64129bb85","type":"ui_chart","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":4,"width":0,"height":0,"label":"Data for de neste 10 dagene","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":520,"wires":[[]]},{"id":"1a094a64da5d77d8","type":"function","z":"7fcb240d5cc004c4","name":"Format chart data","func":"// Format data to work with chart node\n\nvar ts = msg.payload.properties.timeseries;\n\nvar series = [];\nif (!ts || !Array.isArray(ts) || !ts.length) {\n    node.warn(\"expected an array of data with at least 1 element\");\n    return null;\n    //alternatively return the msg with a null payload to clear graph\n}\n\nvar _f = Object.keys(ts[0].data.instant.details);\nvar fields = [];\nvar fi = 0;\n_f.forEach(function(elem) {\n    fields.push(elem);\n    series[fi++] = [];\n});\n\n\n//loop each row and build an array in the required format\nfor (let index = 0; index < ts.length; index++) {\n    const row = ts[index];\n    var t = row.time\n    for (let f = 0; f < fields.length; f++ ) {\n        let field = fields[f];\n        series[f].push({ \"x\": t, \"y\": row.data.instant.details[field] })\n    }\n}\n\n\nmsg.payload = [\n    {\n        \"series\": fields,\n        \"data\": series,\n        \"labels\": [fields]\n    }\n];\nmsg.topic = fields\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":520,"wires":[["ee436dd64129bb85","5c7488f47fdad5f7"]]},{"id":"143b3fdfd33b3349","type":"change","z":"7fcb240d5cc004c4","name":"Extract temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.air_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["0d57342a0bff449c"]]},{"id":"2f9273b043dd1f45","type":"search place","z":"7fcb240d5cc004c4","query":"","maxrows":10,"style":"MEDIUM","username":"smartbyen","debug":false,"name":"","x":470,"y":280,"wires":[["3d2c4bb7db7153be"]]},{"id":"3d2c4bb7db7153be","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"payload.geonames[0].lat","tot":"msg"},{"t":"set","p":"payload.lon","pt":"msg","to":"payload.geonames[0].lng","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["f206fd4cceb685bb"]]},{"id":"d274f4bfcbf0fb68","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"maxrows","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"username","pt":"msg","to":"smartbyen","tot":"str"},{"t":"set","p":"style","pt":"msg","to":"medium","tot":"str"},{"t":"set","p":"location","pt":"global","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["2f9273b043dd1f45"]]},{"id":"43c2a9ed492b4b52","type":"inject","z":"7fcb240d5cc004c4","name":"","props":[{"p":"payload.name","v":"Trondheim","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":110,"y":340,"wires":[["d274f4bfcbf0fb68"]]},{"id":"b5913d49f594b9ab","type":"comment","z":"7fcb240d5cc004c4","name":"Kommentarer","info":"Denne flowen henter lokasjonsdata basert på navn, sender en spørring til Metrologisk Institutt, og returnerer værdata for valgt lokasjon","x":1070,"y":200,"wires":[]},{"id":"8ca836126e1a10c6","type":"change","z":"7fcb240d5cc004c4","name":"Extract cloud cover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.cloud_area_fraction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["e374a392b9ed1d8a"]]},{"id":"e374a392b9ed1d8a","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":3,"width":10,"height":7,"gtype":"gage","title":"Skydekke","label":"Prosent overskyet","format":"{{value}}%","min":"0","max":"100","colors":["#75c3ff","#ffffff","#696969"],"seg1":"","seg2":"","x":1040,"y":460,"wires":[]},{"id":"5c7488f47fdad5f7","type":"debug","z":"7fcb240d5cc004c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"0b566181ade5ce6e","type":"mysql","z":"a81bd8bd5ce776f7","mydb":"bbce1efa032bc7ef","name":"Smartby","x":860,"y":220,"wires":[["425c70c4ea0102a4"]]},{"id":"8f771dbc385136c1","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Ny bruker","label":"Brukerinfo","group":"de7659f154fc9d55","order":1,"width":0,"height":0,"options":[{"label":"Brukernavn","value":"Username","type":"text","required":true,"rows":null},{"label":"Fullt navn","value":"Name","type":"text","required":true,"rows":null},{"label":"RFID-kode","value":"RFID","type":"text","required":true,"rows":null}],"formValue":{"Username":"","Name":"","RFID":""},"payload":"","submit":"Legg til bruker","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":200,"y":160,"wires":[["bae6e26211db5e58"]]},{"id":"4e5e89119bf36c2d","type":"ui_table","z":"a81bd8bd5ce776f7","group":"2fcfdd527e692735","name":"Brukere","order":2,"width":10,"height":5,"columns":[],"outputs":0,"cts":false,"x":1140,"y":200,"wires":[]},{"id":"d069412bd1344b4e","type":"ui_button","z":"a81bd8bd5ce776f7","name":"","group":"de7659f154fc9d55","order":2,"width":0,"height":0,"passthru":false,"label":"Slett alle brukere fra database","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"delete from users","topicType":"str","x":270,"y":100,"wires":[["0b566181ade5ce6e"]]},{"id":"4e70f523a780e3d0","type":"ui_table","z":"a81bd8bd5ce776f7","group":"63ea8af5534bc492","name":"Transaksjonslogg","order":2,"width":20,"height":6,"columns":[],"outputs":0,"cts":false,"x":1170,"y":240,"wires":[]},{"id":"65530a557e5d1227","type":"function","z":"a81bd8bd5ce776f7","name":"Format transactions search query","func":"var query=`SELECT Name, Time, Transaction FROM USERS inner join Transactions WHERE Name like '%${msg.payload.search_str}%';`;\n\nvar msg = {\n\"output\": \"transactions\",\n\"topic\": query //util.format(query, msg.payload.search_str)\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["0b566181ade5ce6e"]]},{"id":"24871169e35405b8","type":"function","z":"a81bd8bd5ce776f7","name":"Make transaction","func":"//Leser msg.payload.user, msg.payload.in og msg.payload.out\n//Legger inn en ny transaksjon basert på dette\nvar name = msg.payload.name;\nvar transaction = msg.payload.transaction;\n\n\nvar query = \"INSERT INTO TRANSACTIONS (UserName, Transaction) VALUES('%s', %d);\"\n\nvar msg = {\n\"topic\": util.format(query, name, transaction)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["0b566181ade5ce6e"]]},{"id":"22f3ce43cabb41b9","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Send transaksjon","label":"Ny transaksjon","group":"63ea8af5534bc492","order":1,"width":0,"height":0,"options":[{"label":"Brukernavn","value":"name","type":"text","required":true,"rows":null},{"label":"Transaksjon","value":"transaction","type":"number","required":false,"rows":null}],"formValue":{"name":"","transaction":""},"payload":"","submit":"Send transaksjon","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":230,"y":340,"wires":[["24871169e35405b8"]]},{"id":"8a540ae78b133549","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Søk blant transaksjoner","label":"Søk blant transaksjoner","group":"63ea8af5534bc492","order":3,"width":0,"height":0,"options":[{"label":"Søkeord","value":"search_str","type":"text","required":false,"rows":null}],"formValue":{"search_str":""},"payload":"","submit":"Søk","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":250,"y":280,"wires":[["65530a557e5d1227"]]},{"id":"bae6e26211db5e58","type":"function","z":"a81bd8bd5ce776f7","name":"Format new user query","func":"var user_query=\"INSERT INTO USERS(UserName, Name, RFID) VALUES ('%s', '%s', '%s');\";\n\nvar msg = {\n\"topic\": util.format(user_query,msg.payload.Username, msg.payload.Name, msg.payload.RFID)\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["0b566181ade5ce6e"]]},{"id":"14aecbc6ea167d52","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Søk blant brukere","label":"Søk blant brukere","group":"2fcfdd527e692735","order":1,"width":0,"height":0,"options":[{"label":"Søkeord","value":"search_str","type":"text","required":false,"rows":null}],"formValue":{"search_str":""},"payload":"","submit":"Søk","cancel":"Avbryt","topic":"","topicType":"str","splitLayout":"","x":230,"y":220,"wires":[["4d1179600d203ef8"]]},{"id":"4d1179600d203ef8","type":"function","z":"a81bd8bd5ce776f7","name":"Format user search query","func":"var query=`SELECT * FROM USERS WHERE Name like '%${msg.payload.search_str}%';`;\n\nvar msg = {\n\"output\": \"users\",\n\"topic\": query\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":220,"wires":[["0b566181ade5ce6e"]]},{"id":"425c70c4ea0102a4","type":"switch","z":"a81bd8bd5ce776f7","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"users","vt":"str"},{"t":"eq","v":"transactions","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":220,"wires":[["4e5e89119bf36c2d"],["4e70f523a780e3d0"]]},{"id":"45d2d2ef9114ce55","type":"ui_button","z":"a81bd8bd5ce776f7","name":"","group":"de7659f154fc9d55","order":2,"width":0,"height":0,"passthru":false,"label":"Slett alle transaksjoner fra database","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"delete from transactions","topicType":"str","x":280,"y":40,"wires":[["0b566181ade5ce6e"]]},{"id":"db9ece97428aae3f","type":"function","z":"61b184a83284ce8f","name":"MakeTransactionRFID","func":"//Leser msg.payload.RFID, msg.payload.in og msg.payload.out\n//Legger inn en ny transaksjon basert på dette\nvar rfid = msg.payload.rfid;\nvar transaction = msg.payload.transaction;\n\n\nvar query = \"INSERT INTO TRANSACTIONS (UserName, transaction) VALUES('%s', %d);\"\n\nvar msg = {\n\"topic\": util.format(query, name, transfer_in, transfer_out)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[[]]},{"id":"e940e9e065eb8e2c","type":"function","z":"61b184a83284ce8f","name":"MakeTransactionUser","func":"//Leser msg.payload.user og msg.payload.transaction\n//Legger inn en ny transaksjon basert på dette\nvar user = msg.payload.user;\nvar transaction = msg.payload.transaction;\n\n\nvar query = \"INSERT INTO TRANSACTIONS (UserName, transaction) VALUES('%s', %d);\"\n\nvar msg = {\n\"topic\": util.format(query, user, transaction)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":360,"wires":[[]]},{"id":"f2ed16de6220e2bd","type":"ui_table","z":"9846b071a0dab208","group":"dce9e7a2.d20c78","name":"","order":1,"width":7,"height":8,"columns":[],"outputs":0,"cts":false,"x":910,"y":220,"wires":[]},{"id":"a0e13a4cf2ac684d","type":"inject","z":"9846b071a0dab208","name":"","props":[{"p":"topic","vt":"str"},{"p":"output","v":"users","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"select Name, Balance from users order by balance desc;","x":130,"y":280,"wires":[["22692870638d225b"]]},{"id":"22692870638d225b","type":"mysql","z":"9846b071a0dab208","mydb":"bbce1efa032bc7ef","name":"Smartby","x":600,"y":280,"wires":[["b7c63a3433f4a10c","fdd028bda7c8746c"]]},{"id":"643384909566e240","type":"function","z":"9846b071a0dab208","name":"Format transactions search query","func":"var query=`SELECT Name, Time, Transaction FROM USERS inner join Transactions WHERE Name like '%${msg.payload}%';`;\n\n\nvar msg = {\n    topic: query,\n    output: \"transactions\" \n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":340,"wires":[["22692870638d225b"]]},{"id":"b7c63a3433f4a10c","type":"switch","z":"9846b071a0dab208","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"users","vt":"str"},{"t":"eq","v":"transactions","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":280,"wires":[["f2ed16de6220e2bd"],["81c162be79ceda6c"]]},{"id":"ccfb66f3895b56f4","type":"ui_chart","z":"9846b071a0dab208","name":"Forbruk","group":"f2f27e2828e1b7bd","order":2,"width":0,"height":0,"label":"{{msg.topic}}","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":280,"wires":[[]]},{"id":"81c162be79ceda6c","type":"function","z":"9846b071a0dab208","name":"Format chart data","func":"var name = msg.payload[0].Name;\nvar data = msg.payload;\n\n\nvar series = [];\nif (!data || !Array.isArray(data) || !data.length) {\n    node.warn(\"expected an array of data with at least 1 element\");\n    return null;\n}\n\nvar fields = [\"Penger på konto\"];\nvar sum = 0;\n\n//loop each row and build an array in the required format\nfor (let index = 0; index < data.length; index++) {\n    const row = data[index];\n    const transaction = row.Transaction;\n    const t = row.Time\n    sum += transaction\n\n    series.push({ \"x\":t , \"y\": sum})\n}\n\n\nmsg.payload = [\n    {\n        \"series\": [name],\n        \"data\": [series],\n        \"labels\": [[\"\"]]\n    }\n];\nmsg.topic = \"Penger på konto for \"+ name;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":280,"wires":[["ccfb66f3895b56f4"]]},{"id":"b95600c90be76fcf","type":"ui_text_input","z":"9846b071a0dab208","name":"","label":"Navn","tooltip":"","group":"f2f27e2828e1b7bd","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":130,"y":340,"wires":[["643384909566e240"]]},{"id":"133211e5cae5b003","type":"ui_button","z":"9846b071a0dab208","name":"Slett data","group":"f2f27e2828e1b7bd","order":3,"width":0,"height":0,"passthru":false,"label":"Fjern data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","x":1080,"y":420,"wires":[["ccfb66f3895b56f4"]]},{"id":"fdd028bda7c8746c","type":"debug","z":"9846b071a0dab208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":360,"wires":[]}]