RaspberryPi/flows.json
[{"id":"7fcb240d5cc004c4","type":"tab","label":"Get Weather Data","disabled":false,"info":"","env":[]},{"id":"a81bd8bd5ce776f7","type":"tab","label":"Users Database","disabled":false,"info":" - Connects to the \"Smartby\" database.\n - Updates the users balances.","env":[]},{"id":"e195c8ecfb917b42","type":"ui_group","name":"Vær","tab":"470fa2ede348ea12","order":1,"disp":true,"width":"10","collapse":false},{"id":"32b3bff6ebe02f56","type":"ui_group","name":"Kart","tab":"470fa2ede348ea12","order":1,"disp":true,"width":"10","collapse":false},{"id":"470fa2ede348ea12","type":"ui_tab","name":"Værdata","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bbce1efa032bc7ef","type":"MySQLdatabase","name":"Smartby","host":"127.0.0.1","port":"3306","db":"Smartby","tz":"","charset":"UTF8"},{"id":"215bbcbaaf213093","type":"ui_tab","name":"Behandle brukere","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dd5f091293590b45","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de7659f154fc9d55","type":"ui_group","name":"Legg til bruker","tab":"215bbcbaaf213093","order":2,"disp":true,"width":10,"collapse":false},{"id":"2fcfdd527e692735","type":"ui_group","name":"Hent brukerinfo","tab":"215bbcbaaf213093","order":2,"disp":true,"width":10,"collapse":false},{"id":"dce9e7a2.d20c78","type":"ui_group","name":"Object detection","tab":"5132060d.4cde48","order":1,"disp":true,"width":"7","collapse":false},{"id":"5132060d.4cde48","type":"ui_tab","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"e17685ea20e86fa1","type":"ui_group","name":"Værdata","tab":"470fa2ede348ea12","order":3,"disp":true,"width":"20","collapse":false},{"id":"63ea8af5534bc492","type":"ui_group","name":"Transaksjoner","tab":"215bbcbaaf213093","order":3,"disp":true,"width":"20","collapse":false},{"id":"f81d0b489f699235","type":"http request","z":"7fcb240d5cc004c4","name":"Request weather data from Metrologisk Institutt","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":400,"y":400,"wires":[["1a094a64da5d77d8","143b3fdfd33b3349","9fb2f6432d617d39","8ca836126e1a10c6"]]},{"id":"ee8d51d442632e5c","type":"ui_form","z":"7fcb240d5cc004c4","name":"","label":"Lokasjon","group":"e195c8ecfb917b42","order":2,"width":0,"height":0,"options":[{"label":"Stedsnavn","value":"name","type":"text","required":false,"rows":null}],"formValue":{"name":""},"payload":"","submit":"Hent data","cancel":"Avbryt","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":280,"wires":[["d274f4bfcbf0fb68"]]},{"id":"f206fd4cceb685bb","type":"function","z":"7fcb240d5cc004c4","name":"Format HTTP request to Metrologisk Institutt","func":"var str = \"https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=%d&lon=%d&altitude=0\";\nstr = util.format(str, msg.payload.lat, msg.payload.lon);\nmsg.url = str;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":280,"wires":[["f81d0b489f699235"]]},{"id":"0d57342a0bff449c","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Celcius","format":"{{value}} °C","min":"-30","max":"30","colors":["#0056d6","#ffffff","#ff4013"],"seg1":"","seg2":"","x":1050,"y":400,"wires":[]},{"id":"ee436dd64129bb85","type":"ui_chart","z":"7fcb240d5cc004c4","name":"","group":"e17685ea20e86fa1","order":1,"width":0,"height":0,"label":"Data for de neste 10 dagene","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":520,"wires":[[]]},{"id":"1a094a64da5d77d8","type":"function","z":"7fcb240d5cc004c4","name":"Format chart data","func":"// Format data to work with chart node\n\nvar ts = msg.payload.properties.timeseries;\n\nvar series = [];\nif (!ts || !Array.isArray(ts) || !ts.length) {\n    node.warn(\"expected an array of data with at least 1 element\");\n    return null;\n    //alternatively return the msg with a null payload to clear graph\n}\n\n// Fields to plot\nfields = [\"air_temperature\"]\n\n// Uncomment lines under to select all fields\nvar _f = Object.keys(ts[0].data.instant.details);\nvar fields = [];\nvar fi = 0;\n_f.forEach(function(elem) {\n    fields.push(elem);\n    series[fi++] = [];\n});\n\n\n//loop each row and build an array in the required format\nfor (let index = 0; index < ts.length; index++) {\n    const row = ts[index];\n    var t = row.time\n    for (let f = 0; f < fields.length; f++ ) {\n        let field = fields[f];\n        series[f].push({ \"x\": t, \"y\": row.data.instant.details[field] })\n    }\n}\n\n\nmsg.payload = [\n    {\n        \"series\": fields,\n        \"data\": series,\n        \"labels\": [fields]\n    }\n];\nmsg.topic = fields\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":520,"wires":[["ee436dd64129bb85"]]},{"id":"143b3fdfd33b3349","type":"change","z":"7fcb240d5cc004c4","name":"Extract temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.air_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["0d57342a0bff449c","9fb2f6432d617d39"]]},{"id":"2f9273b043dd1f45","type":"search place","z":"7fcb240d5cc004c4","query":"","maxrows":10,"style":"MEDIUM","username":"smartbyen","debug":false,"name":"","x":470,"y":280,"wires":[["3d2c4bb7db7153be"]]},{"id":"3d2c4bb7db7153be","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"payload.geonames[0].lat","tot":"msg"},{"t":"set","p":"payload.lon","pt":"msg","to":"payload.geonames[0].lng","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["f206fd4cceb685bb"]]},{"id":"d274f4bfcbf0fb68","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"maxrows","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"username","pt":"msg","to":"smartbyen","tot":"str"},{"t":"set","p":"style","pt":"msg","to":"medium","tot":"str"},{"t":"set","p":"location","pt":"global","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["2f9273b043dd1f45"]]},{"id":"43c2a9ed492b4b52","type":"inject","z":"7fcb240d5cc004c4","name":"","props":[{"p":"payload.name","v":"Trondheim","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":110,"y":360,"wires":[["d274f4bfcbf0fb68"]]},{"id":"9fb2f6432d617d39","type":"debug","z":"7fcb240d5cc004c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]},{"id":"91de34a23d106e10","type":"catch","z":"7fcb240d5cc004c4","name":"Feilmelding","scope":["2f9273b043dd1f45"],"uncaught":false,"x":110,"y":200,"wires":[["1dcb1fe908c5b2fb"]]},{"id":"b5913d49f594b9ab","type":"comment","z":"7fcb240d5cc004c4","name":"Kommentarer","info":"Denne flowen henter lokasjonsdata basert på navn, sender en spørring til Metrologisk Institutt, og returnerer værdata for valgt lokasjon","x":1070,"y":200,"wires":[]},{"id":"11f61f23e563a8ea","type":"ui_toast","z":"7fcb240d5cc004c4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Vis feilmelding","x":480,"y":200,"wires":[]},{"id":"1dcb1fe908c5b2fb","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["11f61f23e563a8ea"]]},{"id":"8ca836126e1a10c6","type":"change","z":"7fcb240d5cc004c4","name":"Extract cloud cover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.cloud_area_fraction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["e374a392b9ed1d8a"]]},{"id":"e374a392b9ed1d8a","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":1,"width":0,"height":0,"gtype":"gage","title":"Skydekke","label":"Prosent overskyet","format":"{{value}}%","min":"0","max":"100","colors":["#75c3ff","#ffffff","#696969"],"seg1":"","seg2":"","x":1040,"y":460,"wires":[]},{"id":"0b566181ade5ce6e","type":"mysql","z":"a81bd8bd5ce776f7","mydb":"bbce1efa032bc7ef","name":"Smartby","x":860,"y":220,"wires":[["425c70c4ea0102a4"]]},{"id":"8f771dbc385136c1","type":"ui_form","z":"a81bd8bd5ce776f7","name":"New User","label":"Brukerinfo","group":"de7659f154fc9d55","order":1,"width":0,"height":0,"options":[{"label":"Unik verdi","value":"Username","type":"text","required":true,"rows":null},{"label":"Fullt navn","value":"Name","type":"text","required":true,"rows":null},{"label":"RFID-kode","value":"RFID","type":"text","required":true,"rows":null}],"formValue":{"Username":"","Name":"","RFID":""},"payload":"","submit":"Legg til bruker","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":200,"y":160,"wires":[["bae6e26211db5e58"]]},{"id":"4e5e89119bf36c2d","type":"ui_table","z":"a81bd8bd5ce776f7","group":"2fcfdd527e692735","name":"Brukere","order":2,"width":10,"height":5,"columns":[],"outputs":0,"cts":false,"x":1140,"y":200,"wires":[]},{"id":"d069412bd1344b4e","type":"ui_button","z":"a81bd8bd5ce776f7","name":"","group":"de7659f154fc9d55","order":2,"width":0,"height":0,"passthru":false,"label":"Slett alle brukere fra database","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"delete from users","topicType":"str","x":270,"y":100,"wires":[["0b566181ade5ce6e"]]},{"id":"4e70f523a780e3d0","type":"ui_table","z":"a81bd8bd5ce776f7","group":"63ea8af5534bc492","name":"Transaksjonslogg","order":2,"width":20,"height":6,"columns":[],"outputs":0,"cts":false,"x":1170,"y":240,"wires":[]},{"id":"65530a557e5d1227","type":"function","z":"a81bd8bd5ce776f7","name":"Format Transaction Search Query","func":"var query=`SELECT Name, Time, TransactionIn, TransactionOut FROM USERS inner join Transactions WHERE Name like '%${msg.payload.search_str}%';`;\n\nvar msg = {\n\"output\": \"transactions\",\n\"topic\": query //util.format(query, msg.payload.search_str)\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[["0b566181ade5ce6e"]]},{"id":"24871169e35405b8","type":"function","z":"a81bd8bd5ce776f7","name":"MakeTransaction","func":"//Leser msg.payload.user, msg.payload.in og msg.payload.out\n//Legger inn en ny transaksjon basert på dette\nvar name = msg.payload.name;\nvar transfer_in = msg.payload.transfer_in;\nvar transfer_out = msg.payload.transfer_out;\n\nvar query = \"INSERT INTO TRANSACTIONS (UserName, TransactionIn, TransactionOut) VALUES('%s', %d, %d);\"\n\nvar msg = {\n\"topic\": util.format(query, name, transfer_in, transfer_out)\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":340,"wires":[["0b566181ade5ce6e"]]},{"id":"22f3ce43cabb41b9","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Send transaksjon","label":"Ny transaksjon","group":"63ea8af5534bc492","order":1,"width":0,"height":0,"options":[{"label":"Brukernavn","value":"name","type":"text","required":true,"rows":null},{"label":"Inn på konto","value":"transfer_in","type":"number","required":false,"rows":null},{"label":"Ut fra konto","value":"transfer_out","type":"number","required":false,"rows":null}],"formValue":{"name":"","transfer_in":"","transfer_out":""},"payload":"","submit":"Send transaksjon","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":230,"y":340,"wires":[["24871169e35405b8"]]},{"id":"8a540ae78b133549","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Søk blant transaksjoner","label":"Søk blant transaksjoner","group":"63ea8af5534bc492","order":3,"width":0,"height":0,"options":[{"label":"Søkeord","value":"search_str","type":"text","required":false,"rows":null}],"formValue":{"search_str":""},"payload":"","submit":"Søk","cancel":"Avbryt","topic":"NewUser","topicType":"str","splitLayout":"","x":250,"y":280,"wires":[["65530a557e5d1227"]]},{"id":"bae6e26211db5e58","type":"function","z":"a81bd8bd5ce776f7","name":"Format new user query","func":"var user_query=\"INSERT INTO USERS(UserName, Name, RFID) VALUES ('%s', '%s', '%s');\";\n\nvar msg = {\n\"topic\": util.format(user_query,msg.payload.Username, msg.payload.Name, msg.payload.RFID)\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":160,"wires":[["0b566181ade5ce6e"]]},{"id":"14aecbc6ea167d52","type":"ui_form","z":"a81bd8bd5ce776f7","name":"Søk blant brukere","label":"Søk blant brukere","group":"2fcfdd527e692735","order":1,"width":0,"height":0,"options":[{"label":"Søkeord","value":"search_str","type":"text","required":false,"rows":null}],"formValue":{"search_str":""},"payload":"","submit":"Søk","cancel":"Avbryt","topic":"","topicType":"str","splitLayout":"","x":230,"y":220,"wires":[["4d1179600d203ef8"]]},{"id":"4d1179600d203ef8","type":"function","z":"a81bd8bd5ce776f7","name":"Format UserSearch Query","func":"var query=`SELECT * FROM USERS WHERE Name like '%${msg.payload.search_str}%';`;\n\nvar msg = {\n\"output\": \"users\",\n\"topic\": query\n};\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["0b566181ade5ce6e"]]},{"id":"425c70c4ea0102a4","type":"switch","z":"a81bd8bd5ce776f7","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"users","vt":"str"},{"t":"eq","v":"transactions","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":220,"wires":[["4e5e89119bf36c2d"],["4e70f523a780e3d0"]]}]