RaspberryPi/flows.json
[{"id":"7fcb240d5cc004c4","type":"tab","label":"Get Weather Data","disabled":false,"info":"","env":[]},{"id":"f81d0b489f699235","type":"http request","z":"7fcb240d5cc004c4","name":"Request weather data from Metrologisk Institutt","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":400,"y":400,"wires":[["1a094a64da5d77d8","143b3fdfd33b3349","9fb2f6432d617d39","8ca836126e1a10c6"]]},{"id":"ee8d51d442632e5c","type":"ui_form","z":"7fcb240d5cc004c4","name":"","label":"Lokasjon","group":"e195c8ecfb917b42","order":2,"width":0,"height":0,"options":[{"label":"Stedsnavn","value":"name","type":"text","required":false,"rows":null}],"formValue":{"name":""},"payload":"","submit":"Hent data","cancel":"Avbryt","topic":"topic","topicType":"msg","splitLayout":"","x":100,"y":280,"wires":[["d274f4bfcbf0fb68"]]},{"id":"f206fd4cceb685bb","type":"function","z":"7fcb240d5cc004c4","name":"Format HTTP request to Metrologisk Institutt","func":"var str = \"https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=%d&lon=%d&altitude=0\";\nstr = util.format(str, msg.payload.lat, msg.payload.lon);\nmsg.url = str;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":280,"wires":[["f81d0b489f699235"]]},{"id":"0d57342a0bff449c","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Celcius","format":"{{value}} °C","min":"-30","max":"30","colors":["#0056d6","#ffffff","#ff4013"],"seg1":"","seg2":"","x":1050,"y":400,"wires":[]},{"id":"ee436dd64129bb85","type":"ui_chart","z":"7fcb240d5cc004c4","name":"","group":"e17685ea20e86fa1","order":1,"width":0,"height":0,"label":"Data for de neste 10 dagene","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":520,"wires":[[]]},{"id":"1a094a64da5d77d8","type":"function","z":"7fcb240d5cc004c4","name":"Format chart data","func":"// Format data to work with chart node\n\nvar ts = msg.payload.properties.timeseries;\n\nvar series = [];\nif (!ts || !Array.isArray(ts) || !ts.length) {\n    node.warn(\"expected an array of data with at least 1 element\");\n    return null;\n    //alternatively return the msg with a null payload to clear graph\n}\n\n// Fields to plot\nfields = [\"air_temperature\"]\n\n// Uncomment lines under to select all fields\nvar _f = Object.keys(ts[0].data.instant.details);\nvar fields = [];\nvar fi = 0;\n_f.forEach(function(elem) {\n    fields.push(elem);\n    series[fi++] = [];\n});\n\n\n//loop each row and build an array in the required format\nfor (let index = 0; index < ts.length; index++) {\n    const row = ts[index];\n    var t = row.time\n    for (let f = 0; f < fields.length; f++ ) {\n        let field = fields[f];\n        series[f].push({ \"x\": t, \"y\": row.data.instant.details[field] })\n    }\n}\n\n\nmsg.payload = [\n    {\n        \"series\": fields,\n        \"data\": series,\n        \"labels\": [fields]\n    }\n];\nmsg.topic = fields\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":520,"wires":[["ee436dd64129bb85"]]},{"id":"143b3fdfd33b3349","type":"change","z":"7fcb240d5cc004c4","name":"Extract temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.air_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["0d57342a0bff449c","9fb2f6432d617d39"]]},{"id":"2f9273b043dd1f45","type":"search place","z":"7fcb240d5cc004c4","query":"","maxrows":10,"style":"MEDIUM","username":"smartbyen","debug":false,"name":"","x":470,"y":280,"wires":[["3d2c4bb7db7153be"]]},{"id":"3d2c4bb7db7153be","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"payload.lat","pt":"msg","to":"payload.geonames[0].lat","tot":"msg"},{"t":"set","p":"payload.lon","pt":"msg","to":"payload.geonames[0].lng","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["f206fd4cceb685bb"]]},{"id":"d274f4bfcbf0fb68","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"maxrows","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"username","pt":"msg","to":"smartbyen","tot":"str"},{"t":"set","p":"style","pt":"msg","to":"medium","tot":"str"},{"t":"set","p":"location","pt":"global","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":280,"wires":[["2f9273b043dd1f45"]]},{"id":"43c2a9ed492b4b52","type":"inject","z":"7fcb240d5cc004c4","name":"","props":[{"p":"payload.name","v":"Trondheim","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":110,"y":360,"wires":[["d274f4bfcbf0fb68"]]},{"id":"9fb2f6432d617d39","type":"debug","z":"7fcb240d5cc004c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":340,"wires":[]},{"id":"91de34a23d106e10","type":"catch","z":"7fcb240d5cc004c4","name":"Feilmelding","scope":["2f9273b043dd1f45"],"uncaught":false,"x":110,"y":200,"wires":[["1dcb1fe908c5b2fb"]]},{"id":"b5913d49f594b9ab","type":"comment","z":"7fcb240d5cc004c4","name":"Kommentarer","info":"Denne flowen henter lokasjonsdata basert på navn, sender en spørring til Metrologisk Institutt, og returnerer værdata for valgt lokasjon","x":1070,"y":200,"wires":[]},{"id":"11f61f23e563a8ea","type":"ui_toast","z":"7fcb240d5cc004c4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Vis feilmelding","x":480,"y":200,"wires":[]},{"id":"1dcb1fe908c5b2fb","type":"change","z":"7fcb240d5cc004c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["11f61f23e563a8ea"]]},{"id":"8ca836126e1a10c6","type":"change","z":"7fcb240d5cc004c4","name":"Extract cloud cover","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.properties.timeseries[0].data.instant.details.cloud_area_fraction","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["e374a392b9ed1d8a"]]},{"id":"e374a392b9ed1d8a","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":1,"width":0,"height":0,"gtype":"gage","title":"Skydekke","label":"Prosent overskyet","format":"{{value}}%","min":"0","max":"100","colors":["#75c3ff","#ffffff","#696969"],"seg1":"","seg2":"","x":1040,"y":460,"wires":[]},{"id":"e195c8ecfb917b42","type":"ui_group","name":"Vær","tab":"470fa2ede348ea12","order":1,"disp":true,"width":"10","collapse":false},{"id":"e17685ea20e86fa1","type":"ui_group","name":"Værdata","tab":"470fa2ede348ea12","order":3,"disp":true,"width":"20","collapse":false},{"id":"470fa2ede348ea12","type":"ui_tab","name":"Værdata","icon":"dashboard","order":1,"disabled":false,"hidden":false}]