RaspberryPi/flows.json
[{"id":"7fcb240d5cc004c4","type":"tab","label":"Get External Data","disabled":false,"info":"","env":[]},{"id":"f81d0b489f699235","type":"http request","z":"7fcb240d5cc004c4","name":"Request weather data from Metrologisk Institutt","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":740,"y":180,"wires":[["ba11453b28d310bb","1a094a64da5d77d8"]]},{"id":"ee8d51d442632e5c","type":"ui_form","z":"7fcb240d5cc004c4","name":"","label":"Lokasjon","group":"e195c8ecfb917b42","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":false,"rows":null},{"label":"Latitude","value":"lat","type":"number","required":true,"rows":null},{"label":"Longditude","value":"lon","type":"number","required":true,"rows":null}],"formValue":{"name":"","lat":"","lon":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":120,"y":180,"wires":[["f206fd4cceb685bb","6c918091a5e19418"]]},{"id":"f206fd4cceb685bb","type":"function","z":"7fcb240d5cc004c4","name":"Format HTTP request to Metrologisk Institutt","func":"var str = \"https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=%d&lon=%d&altitude=0\";\nstr = util.format(str, msg.payload.lat, msg.payload.lon);\nmsg.url = str;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":180,"wires":[["f81d0b489f699235"]]},{"id":"6c918091a5e19418","type":"ui_worldmap","z":"7fcb240d5cc004c4","group":"32b3bff6ebe02f56","order":1,"width":0,"height":0,"name":"Kart","lat":"63.446827","lon":"10.421906","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":390,"y":100,"wires":[]},{"id":"0d57342a0bff449c","type":"ui_gauge","z":"7fcb240d5cc004c4","name":"","group":"e195c8ecfb917b42","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"Celcius","format":"{{value}} °C","min":"-30","max":"30","colors":["#0056d6","#ffffff","#ff4013"],"seg1":"","seg2":"","x":1250,"y":180,"wires":[]},{"id":"ba11453b28d310bb","type":"function","z":"7fcb240d5cc004c4","name":"Extract temperature","func":"msg.payload = msg.payload.properties.timeseries[0].data.instant.details.air_temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":180,"wires":[["0d57342a0bff449c"]]},{"id":"ee436dd64129bb85","type":"ui_chart","z":"7fcb240d5cc004c4","name":"","group":"e17685ea20e86fa1","order":1,"width":0,"height":0,"label":"Historiske data (siste 14 dager)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":280,"wires":[[]]},{"id":"39215633482a3efc","type":"inject","z":"7fcb240d5cc004c4","name":"Init","props":[{"p":"payload.lat","v":"63.446827","vt":"str"},{"p":"payload.lon","v":"10.421906","vt":"str"},{"p":"payload.name","v":"Trondheim","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":240,"wires":[["59fa8a04f4397a1c","ee8d51d442632e5c"]]},{"id":"1a094a64da5d77d8","type":"function","z":"7fcb240d5cc004c4","name":"Format chart data","func":"// Format data to work with chart node\n\nvar ts = msg.payload.properties.timeseries;\n\nvar series = [];\nif (!ts || !Array.isArray(ts) || !ts.length) {\n    node.warn(\"expected an array of data with at least 1 element\");\n    return null;\n    //alternatively return the msg with a null payload to clear graph\n}\n\n// Fields to plot\nfields = [\"air_temperature\"]\n\n// Uncomment lines under to select all fields\nvar _f = Object.keys(ts[0].data.instant.details);\nvar fields = [];\nvar fi = 0;\n_f.forEach(function(elem) {\n    fields.push(elem);\n    series[fi++] = [];\n});\n\n\n//loop each row and build an array in the required format\nfor (let index = 0; index < ts.length; index++) {\n    const row = ts[index];\n    var t = row.time\n    for (let f = 0; f < fields.length; f++ ) {\n        let field = fields[f];\n        series[f].push({ \"x\": t, \"y\": row.data.instant.details[field] })\n    }\n}\n\n\nmsg.payload = [\n    {\n        \"series\": fields,\n        \"data\": series,\n        \"labels\": [fields]\n    }\n];\nmsg.topic = fields\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":280,"wires":[["ee436dd64129bb85","0689b6e5b80b5aa7"]]},{"id":"59fa8a04f4397a1c","type":"http request","z":"7fcb240d5cc004c4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.nordpoolgroup.com/api/marketdata/page/23?currency=NOK","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":630,"y":240,"wires":[[]]},{"id":"0689b6e5b80b5aa7","type":"debug","z":"7fcb240d5cc004c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":340,"wires":[]},{"id":"4e911a5b60287d24","type":"inject","z":"7fcb240d5cc004c4","name":"","props":[{"p":"payload.lat","v":"","vt":"num"},{"p":"payload.lon","v":"","vt":"num"},{"p":"payload.name","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":540,"wires":[[]]},{"id":"e195c8ecfb917b42","type":"ui_group","name":"Weather","tab":"470fa2ede348ea12","order":1,"disp":true,"width":10,"collapse":false},{"id":"32b3bff6ebe02f56","type":"ui_group","name":"Kart","tab":"470fa2ede348ea12","order":1,"disp":true,"width":"10","collapse":false},{"id":"e17685ea20e86fa1","type":"ui_group","name":"Værdata","tab":"470fa2ede348ea12","order":3,"disp":true,"width":"20","collapse":false},{"id":"470fa2ede348ea12","type":"ui_tab","name":"Værdata","icon":"dashboard","order":2,"disabled":false,"hidden":false}]